body {
    background-color:#27445D;
    margin:0;
    padding:0;
    overflow-x:hidden;
}
header {
    background-color:#001F3F;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:0;
}
header .logo {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
header .logo img {
    width:100px;
    margin:15px 75px;
}
header .logo h1 {
    text-align:center;
    color:#EAE2C6;
    margin:0;
}
.Proses{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.Proses h1{
    text-align:center;
    color:#EAE2C6;
}
.Proses video{
    width:50%;
    margin:auto;
}
.Cirebon{
    display:grid;
    grid-template-columns:repeat(2,40% 60%);
    gap:10px;
}
.Cirebon h2, .Cirebon p{
    text-align:justify;
    color:#EAE2C6;
    font-weight:bold;
    margin:15px 30px;
    margin-bottom:30px;
}
.Gedung-Negara, .Patung-Udang, .Mega-Mendung, .Makanan1, .Makanan2{
    display:grid;
    grid-template-columns:repeat(2,60% 40%);
    gap:10px;
}
.Gedung-Negara h2, .Gedung-Negara p, .Patung-Udang h2, .Patung-Udang p, .Mega-Mendung h2, .Mega-Mendung p, .Makanan1 h2, .Makanan1 p, .Makanan2 h2, .Makanan2 p{
    text-align:justify;
    color:#EAE2C6;
    font-weight:bold;
    margin:15px 30px;
}
.Gedung-Negara img, .Patung-Udang img, .Mega-Mendung img, .Makanan1 img, .Makanan2 img{
    width:450px;
    margin-top:50px;
}
@media only screen and (max-width: 600px) {
    body{
        overflow-x:hidden;
    }
    header{
        width:100%;
    }
    header .logo img{
        display: none;
    }
    header .logo h1 {
        padding:5px;
        font-size:180%;
    }
    header .navbar{
        display:none;
    }
    .Cirebon{
        display:flex;
        flex-direction:column;
        gap:5px;
    }
    .Cirebon h2, .Cirebon p{
        margin:5px 15px;
    }
    .Gedung-Negara, .Patung-Udang, .Mega-Mendung, .Makanan1, .Makanan2{
        display:flex;
        flex-direction:column-reverse;
        gap:5px;
        margin-top:25px;
        justify-content:center;
    }
    .Gedung-Negara div h2, .Patung-Udang div h2, .Mega-Mendung div h2, .Makanan1 div h2, .Makanan2 div h2{
        display:none;
    }
    .Gedung-Negara h2, .Gedung-Negara p, .Patung-Udang h2, .Patung-Udang p, .Mega-Mendung h2, .Mega-Mendung p, .Makanan1 h2, .Makanan1 p, .Makanan2 h2, .Makanan2 p{
        margin:10px 15px;
    }
    .Gedung-Negara img, .Patung-Udang img, .Mega-Mendung img, .Makanan1 img, .Makanan2 img{
        width:95%;
        margin:auto;
    }
}